body{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("img/bg.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    text-shadow: 0 0 10px rgba(145, 194, 226, 0.5);
    background-attachment: fixed;
}
.header{
    border-radius: 10px;
    background: rgba(115, 199, 255, 0.5);
    border: 5px solid rgba(115, 199, 255, 0.5);
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.nav{
    font-family: Helvetica;
    display: flex;
    gap: 10px;
}
.nav-item{
    border: 3px solid rgba(115, 199, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition-property: border, background-color, transform;
    transition-duration: .2s;
}
.nav-item a{
    color: rgba(0, 0 ,0 , 1);
    text-decoration: none;
    display: block;
}
.nav-item:hover{
    border: 3px solid rgba(115, 199, 255, 1);  
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}
.nav-item:visited{
    background-color: rgba(0, 0, 0, 0.5)
}
.nav-item a:visited{
    color: rgb(50, 50, 50);
    background-color: rgb(60, 60, 60)
}
.nav-item:active{
    border: 3px solid rgb(0, 153, 255);  
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}
.yap{
    border-radius: 10px;
    background: rgba(115, 199, 255, 0.5);
    border: 5px solid rgba(115, 199, 255, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 720px;
    margin-inline: auto;
    transition-property: border, background-color, transform;
    transition-duration: .2s;
}
.yap:hover{
    border: 5px solid rgba(115, 199, 255, 0.6);  
    background-color: rgba(115, 199, 255, 0.6);
    transform: scale(1.025);
}
.yap2{
    border: 3px solid rgba(0, 0, 0, 0.69);
    border-radius: 10px;
    padding: 10px;
    background: rgb(255, 255, 255);
}
.submit{
    border: 3px solid rgba(115, 199, 255, 0.69);
    border-radius: 10px;
    padding: 10px;
    background: rgba(115, 199, 255, 0.2);
    font-family: Helvetica;
    display: flex;
    gap: 10px;
    text-align: center;
}
.submit:hover{
    border: 3px solid rgba(115, 199, 255, 0.6);  
    background-color: rgba(115, 199, 255, 0.6);
    transform: scale(1.025);
}
.footer{
    text-align: left;
}
.footer a:visited{
    color: rgb(50, 50, 50);
}
.rbplays{
    background: url('img/css_sprites.png') no-repeat 0px 0px;
    width: 200px;
    height: 200px;
    animation: rbanim 1s steps(7) infinite;
    margin-inline: auto;
}
@keyframes rbanim {
    from{background-position-x:0px;}
    to{background-position-x:-1400px;}
}
ul[id~="ul"]{
    text-shadow: 0 0 10px rgba(255, 255, 255);
}
article:only-of-type{
    color:rgb(25, 25, 25);
    text-shadow: 0 0 15px rgb(255, 255, 255);
}
#logo {
    position: fixed;
    left: 20px;
    top: 20px;
    height: 116px;
}
#img{
    float:left;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 160px;
}
#img1{
    float:left;
    height:140px;
    margin-right: 30px;
    margin-bottom: 15px;
}
#img2{
    float:left;
    height:194px;
    margin-right: 30px;
    margin-bottom: 15px;
}